# IDE
.vscode
.idea

# Node ddependency directories
node_modules/

# Optional npm cache directory
.npm

# OS X Finder
.DS_Store 

# Optional eslint cache
.eslintcache
week-1/weight-converter.zip
week-2/cooking-app/Week2-Cooking_App.zip
week-3/distance-calculator.zip
week-4/taco-stand-app/taco-stand-app.zip
